<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="ruta_a_tu_imagen1.jpg" class="card-img-top" alt="Proyecto 1">
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <p class="card-text">Descripción breve del proyecto.</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>

  </div>
</div>